<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/10.3/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Paysuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="E_ALL" />
        <env name="TOKEN" value="5|vJuvWAqU3sA7O7IauhkGMY3RpCNRnS6VKOoVcURd484ed98f"/>
    </php>

</phpunit>